.footer {
  margin-top: 0px;
  padding: 40px 20px;
  background: #111;
  color: #fff;
}

.footer__content {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer__brand {
  font-size: 14px;
  opacity: 0.7;
}

.footer__nav {
  display: flex;
  gap: 20px;
}

.footer__nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  opacity: 0.8;
}

.footer__nav a:hover {
  opacity: 1;
}
