.videoclip-wrapper {
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
    background-color: black;

}

.videoclip-wrapper iframe {
  width: 100%;
  height: 100%;
  border: 0;
  
}
